<div class='hero-content fadeIn'> <!-- Hero content -->
    <div class="container">
        <h1 class='animated fadeInLeftBig' ng-click='titleClicked()' > {{ title }} </h1>
        <h3 class='animated fadeInLeftBig' ng-click='subTextClicked()' > {{ subText }} </h3>
    </div>
</div>


<div id='selling-points' class='selling-points container'> <!-- Selling points -->

    <div class='point col-md-4'>
        <h5> Choose your music </h5>
        <p> The world is full of music; why should you have to listen to music that someone else chose? </p>
    </div>

    <div class='point col-md-4'>
        <h5> Unlimited, streaming, ad-free </h5>
        <p> No arbitrary limits. No distractions. </p>
    </div>

    <div class='point col-md-4'>
        <h5>Mobile enabled</h5>
        <p> Listen to your music on the go. This streaming service is available on all mobile platforms.</p>
    </div>

</div>

<div class="landing-album-list container">
 <div class="row">
   <div class="col-md-4" ng-repeat="albumURL in albumURLs">
     <img id='albums' class="img-responsive center-block" ng-src="{{albumURL}}">
 </div>
</div>
</div>
